    <link rel="icon" href="favicon.ico?v=2" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type='text/css'>
  </head> 
  <body>
  
    <nav id="contact-header" class="navbar navbar-expand navbar-light bg-transparent">
	   <ul class="navbar-nav ml-auto">
	   	<li class="nav-item">
	       <a class="nav-link" href="tel:+34644712878">
	       	<img class="navbar-icon" src="img/icons/device-mobile.svg" alt="Teléfono">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="mailto:info@wildions.com">
	       	<img class="navbar-icon" src="img/icons/mail.svg" alt="Email">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="">
	       	<img class="navbar-icon" src="img/icons/blogger.svg" alt="Blogger">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="">
	       	<img class="navbar-icon" src="img/icons/facebook-letter-logo.svg" alt="Facebook">
	       </a>
	     </li>
	     <li class="nav-item">
	       <a class="nav-link" href="">
	       	<img class="navbar-icon" src="img/icons/twitter.svg" alt="Twitter">
	       </a>
	     </li>
	   </ul>
	 </nav>
	 
    <div id="header" class="container text-center pt-1 pb-3">	   
	   <a class="navbar-brand" href="index.php">
	     <picture>
	       <!--[if IE 9]><video style="display: none;"><![endif]-->
	       <source srcset="img/logo.webp" media="(min-width: 1200px)" type="image/webp">
	       <source srcset="img/logo.png" media="(min-width: 1200px)">
          <source srcset="img/logo-992.webp" media="(min-width: 992px)" type="image/webp">
          <source srcset="img/logo-992.png" media="(min-width: 992px)">
          <source srcset="img/logo-768.webp" media="(min-width: 768px)" type="image/webp">
          <source srcset="img/logo-768.png" media="(min-width: 768px)">
          <source srcset="img/logo-576.webp" media="(min-width: 576px)" type="image/webp">
          <source srcset="img/logo-576.png" media="(min-width: 576px)">
          <source srcset="img/logo-480.webp" media="(min-width: 480px)" type="image/webp">
          <source srcset="img/logo-480.png" media="(min-width: 480px)">
          <source srcset="img/logo-240.webp" type="image/webp">
          <!--[if IE 9]></video><![endif]-->
          <img id="logo" src="img/logo-240.png" alt="Logo de Wildions">
	     </picture>
	   </a>
    </div>
    
    <main id="main" class="container">
